################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MRS.Services/bin/*
/MRS.Services/obj/*/MRS.Console/bin/Debug/netcoreapp3.1
/MRS.Console/bin/*
/MRS.Console/obj/*
/MRS.Business/bin/*
/MRS.Services.Tests/bin/*
/.vs/*
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp